* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
}

/* ----------- Menu ------------------- */

#menu-bar {
	display: none;
}

.menu .fa-bars {
	visibility: hidden;
}
header label {
	display: none;
}

.wrapper {
	width: 90%;
	max-width: 1280px;
	margin: auto;
	overflow: hidden;
}

header {
	background: url(../img/02.png);
	background-size: cover;
	height: 650px;
}
.menu .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	position: fixed;
	z-index: 2;
	padding-top: 40px;
    background: transparent;
    width: 100%;
	transition: 0.6s;
	padding-bottom: 10px;
}
header nav ul {
	margin: 0;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
	letter-spacing: 2px;
	font-size: 15px;
	border-bottom: 1px solid transparent;
	padding-bottom: 3px;
	margin-left: 30px;
	transition: 0.3s;
}

header nav ul li a:hover {
	color: #fff;
	transition: 0.3s;
	border-bottom: 1px solid #fff;
}

header .wrapper-title {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 250px 0;
	color: #fff;
	text-align: center;
}

header .wrapper-title h1 {
	font-size: 50px;
	margin: 0;
}

.wrapper-title p {
	color: #8d8d8d;
	font-size: 16px;
}

.wrapper-title .title img {
	margin-top: 100px;
}

/* ----------- Fin Menu ------- ------- */

/* ------------ About -------------- */

#about {
	padding: 90px 0;
}

#about h2, #about p, #contact h2, #contact p {
	text-align: center;
}

.divider {
	background-color: #03C4EB;
	height: 3px;
	width: 50px;
	margin: auto;
}

#about p, #tec p, #contact p {
	font-size: 15px;
}

#about .foto {
	width: 1500px;
}

#about img {
	width: 70%;
	border-radius: 100%;
}

#about .content {
	display: flex;
	margin-top: 50px;
	text-align: center;
}

#about .content h3 {
	font-size: 25px;
}

#about .content p {
	color: #666;
	width: 90%;
	margin: auto;
	line-height: 25px;
	margin-bottom: 20px;
}

/* ------------ Fin About -------------- */


/* ------------ Tecnologias -------------- */

#tec {
	padding: 90px 0;
	background-color: #24abce;
}

#tec h2 {
	text-align: center;
}

.wrapper-tec {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.wrapper-tec .item {
	width: 24%;
	position: relative;
	margin-bottom: 20px;
}

.wrapper-tec .item img {
	width: 100%;
}

/* ----------- Fin Tecnologias ------------ */

/* ----------- Card overlay Portafolio ----------  */

#portafolio {
	padding: 90px 0;
}

.wrapper-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 60px;
}

.wrapper-card .card-container {
	margin: 0;
	padding: 0;
	position: relative;
}

.wrapper-card .img-card-overlay img {
	width: 300px;
	height: 250px;
	/* width: 60%;
	height: 25%; */
}

.wrapper-card  .card-container h5 {
	/* background: #F5F5F5; */
	color: #24abce;
	/* padding: 10px 15px; */
	text-align: justify;
	font-size: 20px;
}

.wrapper-card  .card-container h5 {
	font-weight: 700;
}

.wrapper-card  .card-container p {
	font-size: 16px;
}

.wrapper-card  .publicacion {
	background: #F5F5F5;
	padding: 10px 15px;
}
.wrapper-card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 81%; */
	height: 100%;
	background: rgba(0,0,0,0.6);
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease-out 0s;
	transform: scale(0.5);
}

.overlay-container {
	padding: 20px;
}

.wrapper-card  .card-container:hover .overlay {
	opacity: 1;
	transform: scale(1);
}
.card-container .text-justify {
	margin-top: 0;
}
.card-container .btn {
	color: #fff;
	background-color: #24abce;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 10px;
	text-decoration: none;
}
/* --------- Fin Card con overlay Portafolio -------------------- */

/* -------------- Contacto -------------*/

#contact {
	padding: 90px 0;
	background-color: #dfdbdb;
}

#contact .content {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#contact .text {
	width: 40%;
}

#contact .text p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 30px;
}

#contact .text ul {
	display: flex;
	margin: 0;
	padding: 0;
}

#contact .text ul li {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	list-style: none;
}

#contact .text ul li i {
	margin-right: 20px;
	font-size: 17px;
}

#contact .form {
	width: 600px;
}

#contact .form form input[type="text"],
#contact .form form textarea {
	border: 0;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px 10px;
	margin-bottom: 20px;
	font-size: 14px;
}

#contact .form form input[type="text"] {
	width: 49.6%;
}

#contact .form form textarea {
	width: 100%;
	height: 125px;
}

#contact form input[type="submit"] {
	border: 0;
	background: #383838;
	color: #fff;
	padding: 10px 30px;
	cursor: pointer;
	transition: 0.3s;
}

#contact form input[type="submit"]:hover {
	background: #000;
	transition: 0.3s;
}

/* -------------- Fin Contancto -------------*/

/* ------- ------ Footer ------ ------  */

footer {
	padding: 40px 0;
	background: #262626;
	color: rgba(255, 255, 255, 0.4);
}

footer .wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

footer .right ul li {
	display: inline-block;
	margin: 0 20px;
}

footer i {
	cursor: pointer;
	transition: 0.3s;
}

footer i:hover {
	color: #fff;
	transition: 0.3s;
}

/* ------------- Fin Footer ------------  */
#whatsapp {
	position: fixed;
	top: 85%;
	right: 2%;
	z-index: 99;
  }
/* ------------- Responsive ------------  */

@media screen and (max-width: 950px) {
	.fa-bars {
		font-size: 21px;
		color: #fff;
		float: right;
		margin-top: 10px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
	}

	.menu {
		padding-bottom: 15px;
	}
	
	.menu .fa-bars {
		visibility: visible;
	}

	header nav {
		position: absolute;
		top: 65px;
		left: 0;
		width: 100%;
		height: 40vh;
		background: #000;
		transform: translateX(-100%);
		transition: 0.3s;
	}

	header nav ul li {
		display: block;
		margin-bottom: 15px;
	}

	#menu-bar:checked ~ nav {
		transform: translateX(0%);
		transition: 0.3s;
	}
	footer .right ul {
		padding: 0;
	}
	footer .wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 900px) {
	.fa-bars {
		font-size: 30px;
		color: #a1a1a1;
		float: right;
		margin-top: 15px;
		cursor: pointer;
	}
}

@media screen and (max-width: 580px) {

	#about .content {
		display: flex;
		margin-top: 50px;
		text-align: center;
		flex-wrap: wrap!important;
	}
	#about .content h3 {
		font-size: 25px;
	}
	
	#about .content p {
		color: #666;
		width: 90%;
		margin: auto;
		line-height: 25px;
		margin-bottom: 20px;
	}
	#contact .form form input[type="text"] {
		width: 100%;
	}

	h2 {
	font-size: 35px;
	}
}
